# Python
__pycache__/
*.py[cod]
*$py.class

# Environment Variables
.env

# Virtual Environment
.venv/
venv/
env/

# IDE Settings
.vscode/
.idea/

# Streamlit
.streamlit/

# OS specific
.DS_Store
Thumbs.db
